<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>demo::eg.<%= capitalize(componentName) %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
</head>
<body>
<!-- Add your content here -->
<p>Hello eg.<%= capitalize(componentName) %> Demo!!!</p><% if(options.extendsComponent){ %>
<script src="../node_modules/eg.component/dist/eg.component.js"></script><% } %>
<script src="../dist/eg.<%= componentName %>.js"></script>
<script src="js/demo.js"></script>
</body>
</html>
