<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>unit test::<%= componentName %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
<link rel="stylesheet" href="../../node_modules/qunitjs/qunit/qunit.css">

<script src="../../node_modules/qunitjs/qunit/qunit.js"></script>
</head>
<body>
<div id="qunit"></div>
<div id="qunit-fixture"></div>
</div>
<script src="../../dist/eg.<%= capitalize(componentName) %>.js"></script>
<script src="js/test.js"></script>
</body>
</html>
